<html>
    <body>
        <h2>Congratulations! You received an email from auto generated app</h2>
        <h3>
            Name
        </h3>
        <p>
            ${name}
        </p>
        <h3>
            With key
        </h3>
        <p>
            ${key}
        </p>
    </body>
</html>